.venv  
venv  
__pycache__  
*.pyc  
*.pyo  
*.pyd  
.env  
.git  
.gitignore  
.pytest_cache  
.mypy_cache  
.ipynb_checkpoints  
.cache  
*.log
db.sqlite3
media/
Dockerfile
Dockerfile.fastapi
docker-compose.yml
