{% load static %}

<!-- ① 작업자 위치 모니터링 -->
<div class="panel wl-right-top">
    <div class="panel-header">
        <h3 id="map-title">작업자 위치 모니터링</h3>
    </div>

    <div class="map-area" id="worker-map">
        <script>
            const API_BASE = '/facilities/api';
            const SAMPLE_IMAGE = "{{ MEDIA_URL }}img/sample_floor.png";
            const MAP_AUTO_FLOOR_ID = 1;
        </script>
        
        {% include "components/map_only.html" %}

        <div class="map-placeholder" id="map-placeholder">
            <span>작업자를 선택하면 위치가 표시됩니다</span>
        </div>
    </div>
</div>

<script src="{% static 'js/map/worker_list_map.js' %}"></script>